<header class="landing-header">
  <div class="site-width">
    <div class="logo">
      <div class="logo-icon">
        {% include "../common/logo.html" %}
      </div>
      <p><span class="logotext-pocket">Pocket</span><span class="logotext-ninja">ninja</span><span class="logotext-design">.design</span></p>
    </div>
    <h1>Welcome to my world</h1>
  </div>
</header>

<div class="content">
  <div class="site-width">
    <h2>Web front end design / developer</h2>
    <p>For full time or freelance work</p>

    <nav id="landingNav">
      <a href="#" class="nav" data-nav="home">Home</a>
      <a href="#" class="nav" data-nav="about">About</a>
      <a href="#" class="nav" data-nav="portfolio">portfolio</a>
      <a href="#" class="nav" data-nav="contact">Contact</a>
      <a href="#" class="nav" data-nav="typography">Typography</a>
      <a href="#" class="nav" data-nav="experiments">Experiments</a>
    </nav>
  </div>
</div>