<header class="landing-header">
  <div class="site-width">
    <div class="logo">
      <div class="logo-icon">
        {% include "../common/logo.html" %}
      </div>
      <p><span class="logotext-pocket">Pocket</span><span class="logotext-ninja">ninja</span><span class="logotext-design">.design</span></p>
    </div>
    <h1>Welcome to my world</h1>
  </div>
</header>

<div class="content">
  <div class="site-width">
    <h2>Web front end design / developer</h2>
    <p>For full time or freelance work</p>

    {% include "../common/navigation.html" with { "id": "landingNav" } %}
    <div class="ninja-tree"></div>
  </div>
</div>