
.grid {
  @include clearfix;

  &.grid-small {
    .grid-item {
      //background: $swatch2;
      margin-bottom: 2px;

      $custom-large-grid: (
        columns: 12,
        gutter: 2px,
        media: 1024px,
      );

      $custom-small-grid: (
        columns: 12,
        gutter: 2px,
        media: 700px,
      );

      $custom-root-grid: (
        columns: 12,
        gutter: 2px,
        media: 0,
      );

      @include grid-media($custom-root-grid) {
        @include grid-column(6);
      }

      @include grid-media($custom-small-grid) {
        @include grid-column(3);
      }

      @include grid-media($custom-large-grid) {
        @include grid-column(1);
      }
    }
  }

  &.grid-medium {
    .grid-item {
      background: $swatch2;
      margin-bottom: 2px;

      $custom-massive-grid: (
        columns: 12,
        gutter: 2px,
        media: 1350px,
      );

      $custom-large-grid: (
        columns: 12,
        gutter: 2px,
        media: 1000px,
      );

      $custom-small-grid: (
        columns: 12,
        gutter: 2px,
        media: 450px,
      );

      $custom-root-grid: (
        columns: 12,
        gutter: 2px,
        media: 0,
      );

      @include grid-media($custom-root-grid) {
        @include grid-column(3);
      }
      
      @include grid-media($custom-small-grid) {
        @include grid-column(2);
      }

      @include grid-media($custom-large-grid) {
        @include grid-column(3);
      }

      @include grid-media($custom-massive-grid) {
        @include grid-column(2);
      }
    }
  }
}