
.panel.styleguide {
  background: #fff;

  .site-width {
    .header-mini {
      padding: 40px 20px;
    }

    text-align: left;
  }

  //
  // Widgets
  //
}

//
// Outside Widgets
//

// Enlargement tests
.widget-enlargement-test {
  @include size2;
  color: $swatch7;
  width: 500px;
  height: 300px;
  background: $swatch6;
  margin-bottom: 30px;
}