

@mixin defaultFont {
  font-family: $primaryFont;
  font-weight: 200;
  color: $swatch6;
  line-height: 1.4;
}

@mixin logoFont {
  font-family: $logoFont;
  font-weight: 400;
}

@mixin size1 {
  font-family: $headerFont;
  font-size: 50px;
  font-weight: 800;
  color: $swatch3;
  line-height: 1;
  padding-bottom: 20px;
}

@mixin size2 {
  font-family: $headerFont;
  font-size: 38px;
  font-weight: 700;
  color: $swatch5;
  line-height: 1;
  padding-bottom: 18px;
}

@mixin size3 {
  font-family: $headerFont;
  font-size: 34px;
  font-weight: 500;
  color: $swatch5;
  line-height: 1;
  padding-bottom: 14px;
}

@mixin size4 {
  font-family: $headerFont;
  font-size: 24px;
  font-weight: 500;
  color: $swatch4;
  line-height: 1;
  padding-bottom: 12px;
}

@mixin size5 {
  font-family: $headerFont;
  font-size: 18px;
  font-weight: 500;
  color: $swatch4;
  line-height: 1;
  padding-bottom: 40px;
}