{% extends "layouts/default.html" %}
{% set title="PocketninjaDesign About Page" %}

{% block content %}
<h1>Home</h1>
<div class="site-width">
  <p>Home content right here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in venenatis risus. Aliquam ac dui egestas, dapibus augue non, porttitor nunc. Aenean sollicitudin pharetra ex, sed aliquet est accumsan ultrices. Proin efficitur sollicitudin nunc at aliquam. Aenean quis nisl risus. Quisque sit amet metus vulputate, consequat lectus ac, elementum justo. Integer laoreet dictum velit, quis euismod elit cursus vitae. Donec imperdiet sagittis lectus id luctus. Integer eget ultrices neque. Nullam mauris felis, dapibus quis metus sit amet, lobortis porta odio. Pellentesque suscipit varius libero at tristique. In tincidunt felis quis lorem dignissim, ac tempor tellus feugiat. Praesent scelerisque vulputate lectus, vitae rutrum dui luctus vel. Nullam mollis magna vel tellus aliquet tempus.</p>
</div>
{% endblock %}