.panel {
  position: absolute;
  overflow-y: auto;
  left: 1000px;

  .content {
    text-align: center;
  }
}



.home {
  //background: #000;
}

.portfolio {
  //background: green;
}

.about {
  //background: #f00;
}