<div id="{{id}}" class="nav-options">
  <!-- <a href="#" class="nav nav-home" data-nav="home"><span>Home</span></a> -->
  <a href="#About Pocketninja Design" class="nav nav-about" data-nav="about"><span>About</span></a>
  <a href="#Portfolio" class="nav nav-portfolio" data-nav="portfolio"><span>portfolio</span></a>
  <a href="#Codepen" class="nav nav-codepen" data-nav="codepen"><span>Codepen</span></a>
  <a href="#Contact" class="nav nav-contact" data-nav="contact"><span>Contact</span></a>
  <!-- <a href="#" class="nav nav-styleguide" data-nav="styleguide"><span>Styleguide</span></a> -->
  <!-- <a href="#" class="nav nav-experiments" data-nav="experiments"><span>Experiments</span></a> -->
</div>