{% extends 'master.template.html' %}

{% set cat = graphics.info %}
{% set gallery = graphics.gallery %}

{% block title %}Pocketninja.Design Portfolio {{ cat.title }} Gallery{% endblock %}
{% block pageClass %}page-portfolio page-portfolio-landing{% endblock %}
{% block sideNavBlock %}
  {% include "common/side-navigation.html" with { "data": 1 } %}
{% endblock %}
{% block body %}

  {% include "common/portfolio-gallery.html" with {"cat": cat, "gallery": gallery} %}

  {% include "common/portfolio-information.html" with {"title": cat.title, "subTitle": cat.subTitle, "detailedDescription": cat.detailedDescription} %}

{% endblock %}