<!doctype html>
<html class="holding">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link hrefs="https://fonts.googleapis.com/css?family=Dosis:300,500,800|Fredoka+One:400|Source+Sans+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body class="page-holding bg-color-1">
    {% include "common/logo.html" %}
    <div class="ninja"><img src="images/ninja-medium.png"></div>
    <div id="tree" class="tree-box">
      <img src="images/mini-tree-01.png">
    </div>
    <script src="bundle.js?asasas"></script>
  </body>
</html>