<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link hrefs="https://fonts.googleapis.com/css?family=Dosis:300,500,800|Fredoka+One:400|Source+Sans+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="navigation">
      {% include "common/navigation.html" with { "id": "nav" } %}
    </div>

    <div id="panelBase" class="panel-base">

      <div id="panelLanding" class="panel landing">
        {% include "page/landing.html" %}
      </div>

      <div id="panelHome" class="panel home">
        <div class="content">
          <h1>Home</h1>
        </div>
      </div>

      <div id="panelPortfolio" class="panel portfolio">
        <div class="content">
          <h1>Portfolio</h1>
        </div>
      </div>

      <div id="panelAbout" class="panel about">
        <div class="content">
          <h1>About</h1>
        </div>
      </div>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>