<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link hrefs="https://fonts.googleapis.com/css?family=Dosis:300,500,800|Fredoka+One:400|Source+Sans+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="navigation" id="primarySideNav">
      <div class="nav-action" id="primaryNavAction">
        <div class="band top"></div>
        <div class="band middle"></div>
        <div class="band bottom"></div>
      </div>
      <div class="nav-wrapper">
        {% include "common/navigation.html" with { "id": "nav" } %}
      </div>
    </div>

    <div class="main">
      <header id="header" class="header-large bg-color-1">
        <div class="site-width">
          {% include "common/logo.html" %}
        </div>
      </header>
  
      <section id="about" class="section bg-color-8">
        <div class="site-width">
          <a name="About Pocketninja Design"></a>
          <h1>Welcome to my world</h1>
          <h2>Web front end design / developer</h2>
          <p>For full time or freelance work</p>
        </div>
      </section>
  
      <section id="portfolio" class="section section-portfolio bg-color-9">
        <div class="site-width">
          <a name="Portfolio"></a>
          <h1>Portfolio</h1>
          <div id="portfolioTab" class="tab" data-tab>
            <ul id="portfolioNavigation" class="tab-navigation" data-tab-nav>
              <li data-portfolio-cat="websites">Websites</li>
              <li data-portfolio-cat="graphics">Graphics</li>
              <li data-portfolio-cat="illustrations">Illustrations</li>
            </ul>
            <ul id="portfolioTabContent" class="tab-content-list" data-tab-content>
              <li data-portfolio-view="websites" class="tab-content-item">
                <ul class="grid grid-small portfolio-list">
                </ul>
              </li>
              <li data-portfolio-view="graphics" id="portfolioGraphics" class="tab-content-item">
                <ul class="grid grid-small portfolio-list">
                </ul>
              </li>
              <li data-portfolio-view="illustrations" class="tab-content-item">
                <ul class="grid grid-small portfolio-list">
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>
  
      <section id="codepen" class="section bg-color-7">
        <div class="site-width">
          <a name="Codepen"></a>
          <h1>Codepen</h1>
          <ul id="codepenList" class="grid grid-medium codepen-list">
          </ul>
        </div>
      </section>
  
      <section id="contact" class="section bg-color-2">
        <div class="site-width">
          <a name="Contact"></a>
          <h1>Contact</h1>
          <form id="contactForm" method="POST" name="contact-form" action="contact-us.php">
              {% include "common/forms/form-block-text.html" with { "id": "formContactName", "label": "name", "text": "name", "type": "text", "name": "contactname" } %}
              {% include "common/forms/form-block-text.html" with { "id": "formContactEmail", "label": "email", "text": "email", "type": "email", "name": "contactemail" } %}
              {% include "common/forms/form-block-textarea.html" with { "id": "formContactInfo", "label": "Mission Information", "text": "mission-information", "name": "contactmessage" } %}
              <button type="submit">Send Mission Request</button>
          </form>
        </div>
      </section>
      
      <footer id="footer" class="primary-footer bg-color-10">
        <div class="site-width">
          Footer content
        </div>
      </footer>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>