<!doctype html>
<html class="holding">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#d91f2d">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="/asset/manifest/favicon.png" type="image/png">
    <link rel="icon" href="/asset/manifest/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/asset/manifest/apple-touch-icon.png">
    <link rel="manifest" href="/asset/manifest/manifest.webmanifest">

    <link href="https://fonts.googleapis.com/css?family=Dosis:300,500,800|Fredoka+One:400|Source+Sans+Pro:300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body class="{% block pageClass %}{% endblock %}">
    <div class="body-block bg-color-1"></div>
    <div class="body-block-2"></div>
    {% set nav = 0 %}
    {% include "common/logo.twig" with {"id": "primaryLogo", "uniqueClass": "primary-logo"} %}
    {% block sideNavBlock %}
      {% include "common/side-navigation.twig" with { "data": 0 } %}
    {% endblock %}

    {% block pageBespokeContent %}{% endblock %}

    <div id="contentArea" class="content-area">
      {% block body %}{% endblock %}
    </div>

    {% include "common/tree.twig" %}

    <div style="display: none;">
      <div id="ninja" class="ninja"><img src="/images/pocketninja-medium.png"></div>
    </div>
    <script src="bundle.js?201803110922"></script>
  </body>
</html>