
.overlay {
  @include position(absolute, 0 0 0 0);
  background: rgba(#000, 0.9);
  z-index: 1000;
  display: none;
  opacity: 0;
  transition: opacity 300ms;

  &.active {
    opacity: 1;
    display: block;
  }

  &.fadeOut {
    animation: fadeOut 300ms forwards;
  }

  &.click-enabled {
    cursor: pointer;
  }
}