

.tree-box {
  
}

.eggsa {
  width: 100px;
  height: 100px;
  background: #fc0;
}

#test1 {
  width: 400px;
  height: 200px;
  background: green;
}
#test2 {
  width: 50px;
  height: 30px;
  background: blue;
}