

.eggsa {
  width: 100px;
  height: 100px;
  background: #fc0;
}

#test1 {
  width: 300px;
  height: 100px;
  background: green;
}
#test2 {
  width: 50px;
  height: 30px;
  background: blue;
}

#block {
  @include position(absolute, 500px null null 500px);
  width: 500px;
  height: 400px;
  background: #333;
}