
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";

@import "animations";
@import "vars";
@import "mixins";
@import "atom";
@import "molecules";
@import "component";
@import "pages";

.anim-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-absolute {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }

  .anim-default {
    background: #fc0;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    animation: rotateLoop linear 900ms infinite;
  }
}