.page-holding {
  text-align: center;

  .primary-logo {
    @include position(absolute, 2em null null 0);
    width: 100%;
    z-index: 10;
    margin: 2em auto 0 auto;
    font-size: 60%;

    @media (min-height: 800px) {
      top: 4em;
      font-size: 80%;
    }
  }

  .under-contruction {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 10em;

    @media (min-height: 800px) {
      margin-top: 14em;
    }

    .site-width {
      max-width: 680px;
      font-size: 60%;

      @media (min-height: 500px) {
        font-size: 80%;
      }
      @media (min-width: 600px) and (min-height: 600px) {
        font-size: 100%;
      }
      
      h1 {
        font-size: 2.5em;
        padding-bottom: 0.3em;
      }
      h3 {
        font-size: 1.75em;
        padding-bottom: 0.625em;
      }
      p {
        font-size: 16px;
        max-width: 800px;
        padding: 0 3.125em 0.625em 3.125em;

        &.intro {
          display: none;

          @media (min-height: 500px) {
            display: block;
          }
        }
      }
      .social-media-links {
      }
    }
  }

  .tree-box {
    @include position(absolute, null null 0.625em 50%);
    transform: translateX(-50%);
    z-index: 20;
    //display: none;
    font-size: 8px;
    transition: font-size 300ms;

    @media (min-height: 450px) {
      font-size: 10px;
    }

    @media (min-height: 500px) {
      bottom: 1em;
    }

    @media (min-height: 560px) {
      font-size: 14px;
    }

    @media (min-height: 800px) {
      font-size: 16px;
      bottom: 4em;
    }
  }
}