.page-holding {
  text-align: center;

  .primary-logo {
    @include position(absolute, 2em null null 0);
    width: 100%;
    z-index: 10;
    margin: 2em auto 0 auto;
    font-size: 45%;
    transition: font-size 100ms;

    @media (min-height: 800px) {
      font-size: 60%;
    }
  }

  .enter-button {
    @include position(absolute, 70% null null 50%);
    z-index: 200;
    transform: translate(-50%, -50%);

    @media (min-height: 500px) {
      top: 55%;
    }

    @media (min-height: 700px) {
      top: 50%;
    }
  }

  .under-contruction {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 7.1em;
    transition: margin-top 100ms;

    @media (min-height: 800px) {
      margin-top: 9em;
    }

    .site-width {
      max-width: 680px;

      @media (min-height: 800px) and (min-width: 400px) {
        font-size: 140%;
      }

      h1 {
        font-size: 1.5625em;
        padding-bottom: 0.3em;
      }
      h3 {
        font-size: 1.125em;
        padding-bottom: 0.625em;
      }
    }
  }

  .tree-box {
    @include position(absolute, null null -2em 50%);
    transform: translateX(-50%);
    z-index: 20;
    font-size: 60%;
    transition: font-size 300ms, bottom 200ms;
    display: none;

    @media (min-height: 500px) {
      display: block;
    }

    @media (min-height: 700px) and (min-width: 450px) {
      font-size: 80%;
      bottom: 0;
    }

    @media (min-height: 900px) and (min-width: 450px) {
      font-size: 100%;
      bottom: 1em;
    }
  }
}